header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--content-right {
  display: flex;
  gap: 0.5rem;
}

.header--link-quadras {
  font-weight: 400;
  font-size: small;
  border-radius: 0.5rem;
  height: 2rem;

  transition: background-color 0.3s ease;
}

.header--link-quadras:hover{
  background-color: orange;
}

.header--login {
  color: white;
  font-size: small;
  background-color: #053a27;
  border-radius: 0.5rem;
  height: 2rem;
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (width >= 1440px) {
  header {
    justify-content: space-around;
    margin-right: 1rem;
    padding: 1rem 6rem;
  }
}
