.form-card__campo {
  width: auto;
}

mat-expansion-panel {
  background-color: white;
}

mat-form-field {
  width: 100%;
  border-radius: 1.5rem !important;
}

mat-panel-title {
  font-weight: 600;
  font-size: large;
}

mat-panel-description {
  margin-bottom: 2rem;

}

.card__data_horario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-card__campo {
    width: 48%;
  }
}

.form-card__submit-button {
  width: 100%;
  background-color: #053a27;
}
