<div class="dash-header__content">
  <mat-toolbar>
    <div class="header__left">
      <button class="dash-header__menu-button" mat-icon-button (click)="(sidenav().toggle())">
        <mat-icon>menu</mat-icon>
      </button>

      <section class="dashboard-header__app-title">
        <p class="app-title">ArenaHub</p>
        <p class="app-subtitle">Gestão de quadras, horários, patrimônio e eventos</p>
      </section>
    </div>

    <div class="dash-header__right-content">
      <!-- Desabilitado o botão de notificação, já que não foi implementado ainda -->
      <button class="dash-header__notif-button" mat-icon-button disabled="" matBadge="">
        <mat-icon>notifications</mat-icon>
      </button>

      <button
        mat-icon-button
        class="dashboard-header__user"
        [matMenuTriggerFor]="menu">{{ usuarioLogado()?.nome | iniciais }}
      </button>

      <mat-menu #menu="matMenu" class="menu">
          <section class="menu__dados-user">
            <p class="menu__nome">{{usuarioLogado()!.nome}}</p>
            <p class="menu__perfil" >{{usuarioLogado()!.perfil}}</p>
          </section>

          <mat-divider />

          <a
            mat-menu-item
            [routerLink]="'./perfil'"
            >
            <mat-icon>person</mat-icon>
            Meu Perfil
          </a>
          <button mat-menu-item (click)="logout.emit()">
            <mat-icon>logout</mat-icon>
            Sair
          </button>
      </mat-menu>
    </div>

  </mat-toolbar>
</div>
