.dashboard__content {
  width: 100vw;
}

.sidenav-container {
  height: 100vh;
  width: 100%;

  .app-sidenav {
    background-color: #0a2b1e;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;

    .nav-lists {
      display: flex;
      flex-direction: column;
      color: white;

      mat-nav-list {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .nav-list-title {
          color: #AEAEAE;
          font-weight: 500;
          margin-left: 0.25rem;
        }

        a, a:visited {
          display: flex;
          color: #DEDEDE !important;
          border-radius: 0.75rem;
          padding: 0.3rem;
          align-items: center;
          gap: 0.5rem;

          transition: background-color 300ms ease;
        }

        a:hover {
          background-color: #193d2f;
        }
      }
    }
  }

  .main-content {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .main__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.5rem;

      p > a {
        color: #616c63;
      }

      p > a:hover {
        color: black;
      }

      .main__titulo {
        font-size: x-large;
        font-weight: 700;
        line-height: 2rem;
      }

      .main__desc {
        color: #616c63;
      }
    }
  }
}

@media screen and (width >= 640px) {
  .sidenav-container {
    .app-sidenav {
      width: 255px;
      border-radius: 0;
    }
  }
}

@media screen and (width >= 768px) {
  .main__desc {
    width: 60%;
  }
}
