.dashboard__content {
  width: 100vw;
}

.sidenav-container {
  height: 100vh;
  width: 100%;

  .app-sidenav {
    background-color: #0a2b1e;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;

    .nav-lists {
      display: flex;
      flex-direction: column;
      color: white;

      mat-nav-list {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .nav-list-title {
          color: #AEAEAE;
          font-weight: 500;
          margin-left: 0.25rem;
        }

        a, a:visited {
          display: flex;
          color: #DEDEDE !important;
          border-radius: 0.75rem;
          padding: 0.3rem;
          align-items: center;
          gap: 0.5rem;

          transition: background-color 300ms ease;
        }

        a:hover {
          background-color: #193d2f;
        }
      }
    }
  }

  .main-content {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .main__top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      .main__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;

        p > a {
          color: #616c63;
        }

        p > a:hover {
          color: black;
        }

        .main__titulo {
          font-size: x-large;
          font-weight: 700;
          line-height: 2rem;
        }

        .main__desc {
          color: #616c63;
        }
      }

      .main__action-btn {
        margin-top: 0.5rem;
        align-self: flex-start;

        .header-dynamic-btn {
          height: 40px;
          width: 165px;

          display: inline-flex;
          align-items: center;

          background-color: #007f53 !important;
          border-radius: 0.75rem;
          font-weight: 500;
          color: white;

          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
          transition: transform 0.2s, box-shadow 0.2s;
        }
      }
    }
  }
}

@media screen and (width >= 640px) {
  .sidenav-container {
    .app-sidenav {
      width: 255px;
      border-radius: 0;
    }

    .main-content {
      .main__top {
        flex-direction: row;

        .main__action-btn {
          align-self: flex-end;

        }
      }
    }
  }
}
