<div class="dashboard__content">
  <!-- Main Sidenav Structural Container -->
  <mat-sidenav-container class="sidenav-container">
    <!-- Sidebar Navigation Panel -->
    <mat-sidenav
      #sidenav
      [mode]="sidenavMode()"
      [opened]="sidenavOpened()"
      class="app-sidenav"
    >
      <app-logo [tituloColor]="'white'" />

      <section class="nav-lists">
        <mat-nav-list>
          <span class="nav-list-title">Operação</span>
          <a mat-list-item [routerLink]="'/dashboard'">
            <mat-icon matListItemMeta>dashboard</mat-icon>
            <span class="nav-text">Dashboard</span>
          </a>

          <a mat-list-item [routerLink]="'/dashboard/quadras'">
            <mat-icon matListItemMeta>pin_drop</mat-icon>
            <span class="nav-text">Quadras</span>
          </a>

          <a mat-list-item [routerLink]="'/dashboard/horarios'">
            <mat-icon matListItemMeta>timer</mat-icon>
            <span class="nav-text">Horários</span>
          </a>

          <a mat-list-item [routerLink]="'/dashboard/eventos'">
            <mat-icon matListItemMeta>calendar_month</mat-icon>
            <span class="nav-text">Eventos</span>
          </a>

          <a mat-list-item [routerLink]="'/dashboard/patrimonio'">
            <mat-icon matListItemMeta>storage</mat-icon>
            <span class="nav-text">Patrimônio</span>
          </a>
        </mat-nav-list>
      </section>

      <section class="nav-lists">
        <mat-nav-list>
          <span class="nav-list-title">Gestão</span>
          <a mat-list-item [routerLink]="'/dashboard/solicitacoes'">
            <mat-icon matListItemMeta>event_note</mat-icon>
            <span class="nav-text">Solicitações</span>
          </a>

          <a mat-list-item [routerLink]="'/dashboard/multas'">
            <mat-icon matListItemMeta>description</mat-icon>
            <span class="nav-text">Multas</span>
          </a>

          <a mat-list-item [routerLink]="'/dashboard/relatorios'">
            <mat-icon matListItemMeta>monitoring</mat-icon>
            <span class="nav-text">Relatórios</span>
          </a>
        </mat-nav-list>
      </section>

      <section class="nav-lists">
        <mat-nav-list>
          <span class="nav-list-title">Conta</span>
          <a mat-list-item [routerLink]="'/dashboard/perfil'">
            <mat-icon matListItemMeta>person</mat-icon>
            <span class="nav-text">Perfil</span>
          </a>

          <a mat-list-item [routerLink]="'/dashboard/config'">
            <mat-icon matListItemMeta>settings</mat-icon>
            <span class="nav-text">Configurações</span>
          </a>
        </mat-nav-list>
      </section>
    </mat-sidenav>

    <!-- Primary Application Content Area -->
    <mat-sidenav-content class="app-content">
      <app-dashboard-header
        [sidenav]="sidenav"
        [usuarioLogado]="usuarioLogado()"
        (logout)="onLogout()"
      />
      <mat-divider />

      <!-- Main View Content Goes Here -->
      <div class="main-content">

        <div class="main__info">
          <p>
            <a [routerLink]="['/dashboard/geral']" class="breadcrumb-link">Início ></a>
            {{ headerService.janelaAtual() }}
          </p>
          <h1 class="main__titulo">{{ headerService.titulo() }}</h1>
          <p class="main__desc">{{ headerService.descricao() }}</p>
        </div>

        @if (headerService.botaoConfig(); as btn) {
          <div class="main__action-btn">
            <button
              mat-raised-button
              [color]="btn.color || 'primary'"
              (click)="btn.action()"
              class="header-dynamic-btn"
            >
              @if (btn.icon) {
                <mat-icon>{{ btn.icon }}</mat-icon>
              }
              {{ btn.label }}
            </button>
          </div>
        }

        <router-outlet />

      </div>
      <mat-divider />
      <app-footer />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

