<div class="dash-header__content">
  <mat-toolbar>
    <button class="dash-header__menu-button" mat-icon-button (click)="(sidenav().toggle())">
      <mat-icon>menu</mat-icon>
    </button>

    <section class="dashboard-header__app-title">
      <p class="app-title">ArenaHub</p>
      <p class="app-subtitle">Gestão de quadras, horários, patrimônio e eventos</p>
    </section>

    <div class="spacer"></div>

    <div class="dash-header__left-content">
      <button class="dash-header__notif-button" mat-icon-button matBadge="3">
        <mat-icon>notifications</mat-icon>
      </button>

      <button
        mat-icon-button
        class="dashboard-header__user"
        [matMenuTriggerFor]="menu">{{ usuarioLogado()?.nome | iniciais }}</button>
      <mat-menu #menu="matMenu">
        <section>
          <p>{{usuarioLogado()!.nome}}</p>
          <p>{{usuarioLogado()!.perfil}}</p>
        </section>
        <mat-divider />
        <a mat-menu-item>Meu Perfil</a>
        <button mat-menu-item (click)="logout.emit()">Sair</button>
      </mat-menu>
    </div>

  </mat-toolbar>
</div>
