footer {
  padding: 1rem;
  font-size: smaller;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer span {
  color: gray;
}

.footer--link {
  width: fit-content;
  color: gray;
}

.footer--link:hover {
  color: black;
}

@media screen and (width >= 768px) {
  footer{
    flex-direction: row;
  }
}

@media screen and (width >= 1440px) {
  footer {
    margin-right: 1rem;
    padding: 1rem 8rem;
  }
}
