<div class="dash-card__content">
  <mat-card>
    <div class="card-left__content">
      <mat-card-header>
        <mat-card-subtitle>{{ title() }}</mat-card-subtitle>
        <mat-card-title>{{ value() }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          {{ subtitle() }}
      </mat-card-content>
    </div>

    <mat-card-header class="card__header-icon">
      <div class="card__header-icon__container">
        <mat-icon>{{icon()}}</mat-icon>
      </div>
    </mat-card-header>
  </mat-card>
</div>
