.main-content {
  color: #e1ebe3;
  padding: 3rem 1rem;
  background-color: #092e20;
}

.main-text--span {
  padding: 0.1rem 0.5rem;
  display: flex;
  align-items: center;
  border: solid 1px #224234;
  border-radius: 2rem;
  font-size: smaller;
  width: fit-content;
}

.main-text--span > mat-icon {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text > h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.main-text > p {
  color: #e1ebe3;
}

.buttons {
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.button-quadras {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  color: #224234 !important;
  background-color: #e1ebe3 !important;
  border-radius: 0.8rem;
  font-weight: 500;

  transition: background-color 2s ease;
}

.button-quadras:hover {
  opacity: 80%;
}

.button-acesso {
  font-weight: 400;
  color: #e1ebe3 !important;
  border-radius: 0.8rem;
}

.button-acesso:hover {
  color: orange !important;
}

.main-cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.5rem;

  app-basic-card {
    width: 43vw;
  }
}

.main-explanation {
  background-color: white;
  color: black;
  padding: 3rem 1rem;
}

.main-explanation > h3 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.explanation--cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (width >= 768px) {
  .main-cards {
    gap: 1rem;
    app-basic-card {
      width: 46vw;
    }
  }

  .explanation--cards {
    flex-direction: row;
    flex-wrap: wrap;

    app-basic-card {
      width: 30vw;
    }
  }
}

@media screen and (width >= 1024px) {
  .main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // gap: 2rem;
  }

  .main-text {
    width: 41%;
  }

  .main-cards {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;

    app-basic-card {
      width: 19vw;
      height: 38%;
    }
  }

  .explanation--cards {
    app-basic-card {
      height: 20%;
    }
  }
}

@media screen and (width >= 1440px) {
  .main-content {
    padding: 3rem 8rem;
  }

  .main-explanation {
    padding: 3rem 8rem;
  }

  .explanation--cards {
    app-basic-card {
      width: 26vw;
    }
  }

}
